<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EmployeeDBM</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amarante&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arima&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
</head>

<body style="min-width: 100px;background: var(--bs-gray);text-align: center;">
<!--    <div th:replace="myFileFragment.html :: navFragment1"></div>-->
    <section class="shadow-lg" style="text-align: center;padding: 30px;">
        <div class="card border-primary border rounded" style="height: 300px;min-height: 500px;min-width: 200px;max-width: 400px;text-align: center;width: 100%;margin-left: auto;margin-right: auto;margin-top: 50px;color: var(--bs-black);">
            <h1 style="text-align: center;margin-top: 100px;font-family: Amarante, serif;">Welcome To</h1>
            <h1 style="text-align: center;font-family: Amarante, serif;">Employee Management</h1>
            <h1 style="text-align: center;font-family: Amarante, serif;">System</h1>
            <div class="card-body" style="background: var(--bs-white);min-width: 100%;margin-top: 0px;margin-right: 200px;"><a class="btn btn-primary" role="button" style="margin-top: 50px;margin-left: 0px;text-align: left;" href="/home">START&nbsp;<i class="far fa-arrow-alt-circle-right"></i></a></div>
        </div>
    </section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>